<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li><%= link_to('Home', root_path) %></li>
    <li>Admin</li>
    <li class="active">App Instances</li>
  </ul>
<% end %>

<div class="green-header">
  <h1>App Instances</h1>
</div>
<div class="tab-content">
  <div class="tab-pane active">
  </div>
</div>

<% content_for :scripts do %>
<% end %>
