<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Subscriptions</li>
  </ul>
<% end %>

<div class="green-header">
  <h1>Subscriptions</h1>
</div>
<ul class="nav tab-header">
  <li class="active"><a href="#index" data-toggle="tab">Subscriptions</a></li>
  <li><a href="#test_tab" data-toggle="tab">Test Tab</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="index">
    Hello World
  </div>
  <div class="tab-pane" id="test_tab">
    Hello world in a different tab
  </div>
</div>
