<%%= render 'partials/row_actions' do %>
  <li>
    <%%= link_to 'Show', <%= singular_table_name %>, remote: true %>
  </li>
  <li>
    <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), { remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' } %>
  </li>
  <li class="divider"></li>
  <li>
    <%%= link_to 'Delete', <%= singular_table_name %>, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
<%% end %>
