#ignore bundler config.
/.bundle
/vendor/bundle
/tmp

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

.DS_Store

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/public/development/*
/public/assets
/public/uploads

/config/secrets.yml
/config/database.yml

# Ignore redis dump file
dump.rdb